<!DOCTYPE html>

<html>

<head>

<title>
Maintenance
</title>

<link rel="stylesheet"
href="/static/style.css">

</head>


<body>


<nav class="navbar">

<a href="/">
Home
</a>

<a href="/vehicles">
Vehicles
</a>

<a href="/mileage">
Mileage
</a>

<a href="/maintenance">
Maintenance
</a>

</nav>



<h1>
Maintenance Tracking
</h1>



<div class="form">


<select id="vehicle"></select>


<input id="service_type"
placeholder="Service Type">


<input id="description"
placeholder="Description">


<input id="mileage"
placeholder="Mileage">


<input id="cost"
placeholder="Cost">


<input id="next_service"
placeholder="Next Service Mileage">


<input id="date"
type="date">



<button class="save"
onclick="saveMaintenance()">

Save

</button>


</div>



<table>

<thead>

<tr>

<th>
Vehicle
</th>

<th>
Service
</th>

<th>
Mileage
</th>

<th>
Cost
</th>

<th>
Date
</th>

</tr>

</thead>


<tbody id="maintenanceTable">

</tbody>


</table>

<script>

loadVehicles();
loadMaintenance();



async function loadVehicles(){

    let response = await fetch("/api/vehicles");

    let vehicles = await response.json();


    let dropdown = document.getElementById("vehicle");

    dropdown.innerHTML = "";


    vehicles.forEach(v => {

        dropdown.innerHTML += `

        <option value="${v.id}">
            ${v.make} ${v.model} (${v.year})
        </option>

        `;

    });

}



async function loadMaintenance(){

    let response = await fetch("/api/maintenance");

    let records = await response.json();


    let table = document.getElementById("maintenanceTable");

    table.innerHTML = "";


    records.forEach(r => {

        table.innerHTML += `

        <tr>

            <td>
                ${r.make} ${r.model}
            </td>

            <td>
                ${r.service_type}
            </td>

            <td>
                ${r.mileage}
            </td>

            <td>
                $${r.cost}
            </td>

            <td>
                ${r.service_date}
            </td>

        </tr>

        `;

    });

}




async function saveMaintenance(){

    let maintenance = {

        vehicle_id:
            document.getElementById("vehicle").value,

        service_type:
            document.getElementById("service_type").value,

        description:
            document.getElementById("description").value,

        mileage:
            document.getElementById("mileage").value,

        cost:
            document.getElementById("cost").value,

        next_service_mileage:
            document.getElementById("next_service").value,

        service_date:
            document.getElementById("date").value

    };


    await fetch("/api/maintenance",
    {

        method:"POST",

        headers:{
            "Content-Type":"application/json"
        },

        body:
            JSON.stringify(maintenance)

    });


    loadMaintenance();

}

</script>

</body>

</html>