<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" 
content="width=device-width, initial-scale=1.0">

<title>Vehicle Manager</title>

<link rel="stylesheet" 
href="/static/style.css">

</head>


<body>


<nav class="navbar">

    <a href="/">
        Home
    </a>

    <a href="/vehicles">
        Vehicles
    </a>

    <a href="/mileage">
        Mileage
    </a>

    <a href="/maintenance">
        Maintenance
    </a>

</nav>



<h1>Vehicle Management</h1>


<div class="form">


<input type="hidden" id="id">


<input id="make" placeholder="Make">

<input id="model" placeholder="Model">

<input id="year" placeholder="Year">

<input id="vin" placeholder="VIN">


<button class="save" onclick="saveVehicle()">
Save Vehicle
</button>


</div>



<table>


<thead>

<tr>

<th>ID</th>
<th>Make</th>
<th>Model</th>
<th>Year</th>
<th>VIN</th>
<th>Actions</th>

</tr>

</thead>


<tbody id="vehicleTable">

</tbody>


</table>



<script src="/static/app.js"></script>


</body>

</html>